
<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 ">
        <div class="row ">
            <div class="col-sm-12 text-center text-white">
                <img src="{{user.pic}}" alt="User Profile Image" class="img-fluid rounded-circle">
                <h2>{{user.first_name}}</h2>
                <p>{{user.bio}}</p>
            </div>
            <div class="col-sm-12">
                <div class="btn btn-primary mt-4 w-100" (click)="youtubeAuth()" >Vincular Canal de Youtube</div>
            </div>

            <div class="col-sm-12">
            <div *ngIf="channels && channels.length > 0">
                <h3>Canales de Youtube</h3>
                <ul class="list-group">
                    <li *ngFor="let channel of channels" class="list-group-item">
                        <img [src]="channel.thumbnail.default.url" alt="Channel Thumbnail" class="img-thumbnail" width="50">
                        <span>Title: {{ channel.snippet.title }}</span>
                        <span>Description: {{ channel.snippet.description }}</span>
                        <span>Suscribers: {{ channel.statistics.subscriberCount }}</span>
                        <span>Videos: {{ channel.statistics.videoCount }}</span>
                    </li>
                </ul>
            </div>
            </div>
        </div>
       
    </div>
          
</div>


