<div class="card" >
    <img src="{{video.snippet.thumbnails.medium.url}}" class="card-img-top" alt="{{ video.snippet.title }}">
    <div class="card-body p-1">
      <a [routerLink]="['/details', getVideoId(video)]"><h5 class="card-title mb-1">{{ (video.snippet.title.length>60)?video.snippet.title.substr(0,60)+'...':video.snippet.title }}</h5></a> 
      
      
      <p class="card-text mb-0">
        {{ video.snippet.channelTitle }}
        <button class="btn btn-link btn-xs mb-0">Suscribirte</button>
      </p>
      <p class="card-text mb-0">{{ video.snippet.publishedAt | date:'dd/MM/yyyy' }} <span  *if="video.statistics"> - {{video.statistics?.viewCount }} </span>  <button (click)="addToLike(video)"  class="btn btn-link btn-xs mb-0">Like</button> </p>
      
    </div>
  </div>
