<main class="main">

  <nav class="navbar navbar-expand-sm navbar-light bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="assets/youtubeLogo.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">
              <img class="menu-icon " src="assets/home.png" alt="">
              <span class="ms-1 text-white  mr-2">Home</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/likes">
              <img class="menu-icon " src="assets/likes.png" alt="">
              <span class="ms-1 text-white  mr-2">Likes</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/history">
              <img class="menu-icon " src="assets/history.png" alt="">
              <span class="ms-1 text-white  mr-2">History</span>
            </a>
          </li>

          <li class="nav-item dropdown bg-dark text-white">
            <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img class="menu-icon " src="assets/suscription.png" alt="">
              <span class="ms-1 text-white d-sm-inline mr-2">Canales</span>
            </a>
            <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
              <li *ngFor="let channel of channels">
                  <a class="dropdown-item" routerLink="/channel/{{channel.id}}"  >
                      <img class="menu-icon channel-img-list" src="{{channel.snippet.thumbnails.medium.url}}"  alt="">
                      <span class="text-white d-sm-inline">{{channel.snippet.title}}</span>
                  </a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/login">
              <img class="menu-icon " src="assets/history.png" alt="">
              <span class="ms-1 text-white  mr-2">Login</span>
            </a>
          </li>


        </ul>
        
      </div>
    </div>
  </nav>


<div class="container-fluid">

  
  <div class="row my-2">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="input-group mb-3">
        <input type="text" [(ngModel)]="term" (keyup.enter)="search()" class="form-control input-search" placeholder="Search Video " aria-label="Search Video" aria-describedby="button-addon2">
        <button (click)="search()" class="btn btn-outline-secondary btn-search" type="button" id="button-addon2"><img src="assets/search.png" alt=""></button>
      </div>
    </div>
    
  </div>

  <div class="row">
    <router-outlet></router-outlet>
  </div>
 
</div>





 

</main>

